@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    color: #6d6d6d;
    line-height: 1.6;
}

#particles-js {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    opacity: .80;
}

#showcase {
    background: rgb(36, 36, 36);
    /* opacity: 0.3; */
    background-image:url(../images/bkg4.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    z-index: -1;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
}

#showcase p {
    font-size: 50px;
}

#showcase .button {
    top: 58%;
    position: absolute;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border: #fff 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background: #0cb9d7;
    color: #fff;
}

#section-a {
    padding: 20px;
    background: #0cb9d7;
    color: #f4f4f4;
    text-align: center;
}

#section-b {
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

#section-c {
    display: flex;
}

#section-c div {
    padding: 20px;
}

#section-c .box-1,
#section-c .box-3 {
    background: #6d6d6d;
    color: #fff;
}

.text1 {
    position: absolute;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.container {
    top: 5%;
    position: absolute;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    
    font-weight: 100;
    font-size: 35px;
    color: #0cb9d7;
}

.dud {
    color: #9e9e9e;
}
#readmore{
    animation-delay:2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    }
#logo{
    opacity: 0.7;
    width: 150px;
    position: absolute;
    top: 34%;
    animation-delay:3s;
    z-index: 1;

}
.box-1 img, .box-2 img, .box-3 img{
    width: 100%;
    height: 90%;
}
 /* Footer */
  
 #main-footer {
    padding: 2em;
    background: black;
    color: #fff;
    text-align: center;
  }
  
  #main-footer a {
    color: #0cb9d7;
    text-decoration: none;
  }

@media (min-width: 700px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }
  
    #section-a .content-text {
      columns: 2;
      column-gap: 2em;
    }
  
    #section-a .content-text p {
      padding-top: 0;
    }
  
    .content-wrap,
    #section-b ul {
      grid-column: 2/4;
    }
  
    .box,
    #main-footer div {
      grid-column: span 2;
    }
  
    #section-b ul {
      display: flex;
      justify-content: space-around;
    }
  
    #section-b li {
      width: 31%;
    }
  }
