
body {
/*	background: #F2E9E4;*/
	/* fallback for old browsers */
	/*background: -webkit-linear-gradient(to left, #ef32d9, #89fffd);*/
	/* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to left, #ef32d9, #89fffd);
	 W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-top:200px;
	background-image: url("../img/iammike2.png"); 
	background-position: center;
	background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4, h5{
	color:rgb(53, 53, 53) !important;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}
.nameText{
	color: #ffffff !important;
	font-size: 48px;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}
.titleText{
	color: #F5BD18 !important;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
}

.nameLink{
	color: #444444;
	font-weight: 300;
}

p {
	color: rgb(53, 53, 53);
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
}

/*.profile-pic {
	border: 7px solid #858585;
	border-radius: 50%;
}
*/
.m-t-1 {
	margin-top:1em;
}

.p-t-1 {
	padding-top:1em;
}

.about-me {
	margin-top:25px;
}


.navbar-default {
	/*background-color: #f8bd14;
	text-align: right;
	border: 0px;
	padding-right: 20px;
	height: auto;*/
	
	
}

/*.navbar-text a.navbar-link {
	color:white;
	font-size: 14px;
	margin-right: 10px;
	margin-top: auto;
	text-align: right;
	
}
.nav-item{
	padding: 1px;

}
.navbar-fixed-top{
	height: 30px !important;
}*/
.row-grey {
	
	background-color: rgb(160, 160, 160);
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;*/
}

.row-white {
	background-color: rgb(255, 251, 251);
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
	clip-path: polygon(0 8%, 100% 4%, 100% 96%, 0% 100%);
	padding: 65px 10px;*/
	
}

.row-footer {
	background-color: lightgrey;
	/*-webkit-clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
	clip-path: polygon(0 0%, 100% 4%, 100% 100%, 0% 100%);
	padding: 65px 10px;*/
}

.work-item-row {
	padding: 10% 0;
}

.row-tools {
  padding: 50px 0;
}

.linkedin-btn {
	box-shadow: 0px 2px 5px 1px lightgrey;
	padding: 12px;
	border-radius: 5px;
}

.btn-launch {
	width:100%;
	max-width:200px;
	background-color: #549657;
	color:white;
	box-shadow: 0px 2px 5px 1px darkgrey;
}

.btn-launch:hover,
.btn-launch:focus {
	color: white;
	background: #3d7140;
}

